src/main/mule/wtrial-muleproject2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="469cce43-8226-4052-ad68-a60e449d2114" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="wtrial-muleproject2Flow" doc:id="f8e3780f-b4b5-445c-b808-8b7d5ef6c4a7" >
		<http:listener doc:name="Listener" doc:id="3b178c7a-07dc-4a28-9c5a-520aefbb93f7" config-ref="HTTP_Listener_config" path="/wtriall"/>
		<logger level="INFO" doc:name="Logger" doc:id="e207081c-9305-4717-a0be-886e64a98fea" message='#["Test logger"]'/>
	</flow>
</mule>
